<html>
    <head>
        <title>Text analyzer in Django</title>
    </head>
    <body>
        <div>
            <h1><a href="">Text analyzer</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Textus estus in paginum est</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>multiplica texta</p>
        </div>
    </body>
</html>
